<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style src="css/bundle-package.css"></style>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Include CSS, Meta tags, etc. -->
</head>
<body>
<div id="react-app">Loading application</div>
{% block body %}
    <!-- Main content for each page goes here -->
{% endblock %}

<script src="javascript/bundle-package.js"></script>
</body>
</html>